{
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "eqeqeq": 0,
        "curly": 0,
        "no-underscore-dangle": 0,
        "quotes": 0,
        "strict": 0,
        "space-unary-ops": 0,
        "indent": [ 2, 4 ]
    }
}
